@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

footer {
  /* width: 100vw; */
  background-color: #a1cceb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.first {
  flex: 0 0 auto;
}

.second,
.third {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: left;
}

.icon-phone {
  width: 18px;
  height: 20px;
  color: #500412;
  margin-right: 10px;
  margin-top: 10px;
}

.phone {
  display: flex;
  align-items: center;
  justify-content: left;
}

.bottom-container {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

footer p {
  color: #500412;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 500;
}

.bottom-container {
  color: #500412;
  font-family: "Roboto Slab", serif;
  font-size: 20px;
  font-weight: 500;
}
